<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to CSS -->
    <link rel="stylesheet" href="/styles/style.css">

    <!-- Link to Javascript -->
    <script src="/scripts/script.js" defer></script>

    <!-- Link to Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Link to my Website Icon -->
    <link rel="icon" href="/images/">
    
    <!-- Title for the Website -->
    <title>Tygo Wolven | De Hallen</title>
  </head>

<body>

  <!-- Navigation -->
  <nav>
    <!-- Links -->
    <ul id="navigation">
      <li>
        <a href="#about" class="capsLock">
            <span class="extraBold">01</span> 
            Over De Hallen
        </a>  
      </li>
      <li>
          <a href="#activity" class="capsLock">
              <span class="extraBold">02</span> 
              Vraag en Aanbod
          </a>  
      </li>
      <li>
        <a href="#submitactivity" class="capsLock">
            <span class="extraBold">03</span> 
            Opdracht Indienen
        </a>  
      </li>
      <li>
          <a href="#contact" class="capsLock">
              <span class="extraBold">04</span> 
              Contact
          </a>  
      </li>
      <li>
        <a href="#faq" class="capsLock">
            <span class="extraBold">05</span> 
            FAQ
        </a>  
      </li>
    </ul>
  </nav>