<%- include('./partials/head') %>

<main>

  <section id="home">
    <h1>De Hallen</h1>
  </section>

  <section id="activity">
    <h2></h2>
  </section>

  <section id="contact">
    <h2>Contact</h1>
  </section>

</main>

<%- include('./partials/foot') %>