<%- include('./partials/head') %>

<main>

  <section id="home">
    <h1>De Hallen</h1>
  </section>

  <section id="activity">

    <!-- Section Tag -->
    <p class="sectionTag capsLock extraBold" 
       aria-hidden="true">
       Vraag en Aanbod
    </p>

    <!-- Section Title -->
    <h2>Bekijk onze <span class="extraBold">activiteiten</span></h2>

  </section>

  <section id="contact">

    <p class="sectionTag capsLock extraBold" 
       aria-hidden="true">
       Contact
    </p>

    <!-- Section Title -->
    <h2>Heb je <span class="extraBold">vragen?</span></h2>

    <!-- Contact Info -->
    <div class="contact-wrapper">
      <div class="contact-container">
        <h3>Hotel de Hallen</h3>
        <ul>
          <li><a href="www.hoteldehallen.com">www.hoteldehallen.com</a></li>
          <li>info@hoteldehallen.com</li>
          <li>Tel. +31(0)20 8 208 670</li>
        </ul>
        <h3>De Hallen Studio's</h3>
        <ul>
          <li><a href="www.hallenstudios.nl">www.hallenstudios.nl</a></li>
          <li>info@dehallenstudios.nl</li>
          <li>Tel. +31(0)20 8208206</li>
        </ul>
        <h3>De FilmHallen</h3>
        <ul>
          <li><a href="www.filmhallen.nl">www.filmhallen.nl</a></li>
          <li>info@filmhallen.nl</li>
          <li>Tel. +31 85 000 4544</li>
        </ul>
      </div>
  
      <div class="contact-container">
        <h3>De Foodhallen</h3>
        <ul>
          <li><a href="www.foodhallen.nl">www.foodhallen.nl</a></li>
          <li>info@foodhallen.nl</li>
          <li>(reserveren niet mogelijk)</li>
        </ul>
        <h3>The Maker Market</h3>
        <ul>
          <li><a href="www.themakerstore.nl">www.themakerstore.nl</a></li>
          <li>hello@themakermarket.nl</li>
          <li>Tel. +31(0)20 2617667</li>
        </ul>
        <h3>Beheerorganisatie</h3>
        <ul>
          <li><a href="www.dehallen-amsterdam.nl">www.dehallen-amsterdam.nl</a></li>
          <li>info@dehallen-amsterdam.nl</li>
          <li>Tel. +31(0)20 7058164</li>
        </ul>
      </div>
    </div>    
  </section>

</main>

<%- include('./partials/foot') %>