<%- include('./partials/head') %>

<<<<<<< Updated upstream
<section>

</section>
=======
<main>

  <section id="home">

  </section>

  <section id="activity">

  </section>

</main>
>>>>>>> Stashed changes

<%- include('./partials/foot') %>