/* === Fonts === */
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* === Custom Properties === */
:root {
    /* === Colors === */
    --darkblue: #0A3250;
    --darkgreen: #46AA64;
    --lightgreen: #D4e9DB;
    --white: #FFFFFF;
    --grey: #DFE4E5;
}

/* === General Page Styling === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: Inter;
    text-decoration: none;
    list-style: none;
}

*::-webkit-scrollbar {
    display: none;
}