/* === Fonts === */
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* === Custom Properties === */
:root {
    /* === Colors === */
    --darkblue: #0A3250;
    --darkgreen: #46AA64;
    --lightgreen: #D4e9DB;
    --white: #FFFFFF;
    --grey: #DFE4E5;

    /* === Transitions === */
    --tran1: 0.25s ease;
}

/* === General Page Styling === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: Inter;
    color: var(--darkblue);
    text-decoration: none;
    list-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

/* === General Element Styling === */
i {
    font-size: 2em;
}

a:hover, i:hover {
    color: var(--darkgreen);
    transition: var(--tran1);
}

/* === Footer === */
footer {
    background: var(--darkblue);

    & > div {
        padding: 2em 4em;
        text-align: center;
    }

    & h3 {
        margin-bottom: 0.25em;
        text-transform: uppercase;
    }

    & h3, a, i, p {
        color: var(--white);
    }
}

@media (min-width: 1000px) {
    /* === Footer === */
    footer {
        display: flex;
        justify-content: center;

        & > div {
            text-align: left;
        }
    }
}